body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 300px;
  height: 600px;
  flex-direction: column;
  background-color: black;
  color: white;
  display: flex;
}

.text-div {
  height: 85%;
}

.dancer-section {
  text-align: center;
}

.stage {
  background-color: white;
}